body {
  background-color: #fff; 
}

.fullWidthBanner {
  max-height: 400px;
  overflow: hidden;
  border: 1px solid #000;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.fullWidthBanner img {
  display: block;       /* no line after image  */
  width: auto;
  height: auto;
  opacity: 0;
}

.page-main-area {
  height: auto;
  margin-bottom: 20px;
  
  background: transparent;
}

.pageContent {
  margin: auto;
  width: 85%;
  overflow: hidden;
  padding-bottom: 30px;
}

.teaser {
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  
  flex-direction: row;
  justify-content: space-around;
}

.wrap {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; 
}

.teaserContainer {
  display: inline-block;
  position: relative;
  margin: 20px;
  
  perspective: 500px;
}

.teaserContainer, .front {
  padding: 5px;
  width: 300px;
  height: 390px;
  color: #A8F82D;
}

.content {
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  background: #5A5A5A;
  
  margin: 20px;
  border-radius: 20px;
  box-shadow: 5px
              5px
              3px;
              
  position: relative;
}

.map {
	scrollwheel: false;
	margin: 10px;
	width: 100%;
	height: 80%;
}


@media (min-width: 500px) {
  .teaser {
    -webkit-flex: 1;
    display: flex;
  }
}

/*tips and tricks*/
.tipsSeating {
  width : 170px;
  height : 182px;
  float : right;
}

.tipsFinger {
  width : 421px;
  height : 119px;
  display: inline-block;
  position: relative;
}

/* header */
.pageheader {
  padding-left: 15px;
  padding-right: 15px;
  overflow: hidden;
  background: #505050 ;
  border: 1px solid #000;
}

/* footer */
.pageFooter {
  width: 100%;
  
  padding: 10px;
  background: #505050;
  border: 1px solid #000;
  color: #fff;
}

.pageFooter p{
  margin: 0;
}

