<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Login" value="false"/>
    <add key="DalAssembly" value="Ufo.DAL.SqlServer"/>
  </appSettings>

  <connectionStrings>
    <add name="DefaultConnectionString"
         providerName="System.Data.SqlClient"
         connectionString="Data Source = (LocalDB)\MSSQLLocalDB; AttachDbFilename = H:\Semester5\SWK5\Project\Ufo\Ufo.DAL.SqlServer\UfoDb.mdf; Integrated Security = True" />
  </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>