<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Login" value="false"/>
    <add key="DalAssembly" value="Ufo.DAL.SqlServer"/>

    <add key="Stmp" value="smtp.gmail.com"/>
    <add key="Smtp_Port" value="587"/>
    <add key="Username" value="daniell.rotaru@gmail.com"/>
    <add key="Password" value="Ro1s1Q1r1018767"/>
  </appSettings>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="C:\Temp\Mails\"/>
      </smtp>
    </mailSettings>
  </system.net>

  <connectionStrings>
    <add name="DefaultConnectionString"
         providerName="System.Data.SqlClient"
         connectionString="Data Source = (LocalDB)\MSSQLLocalDB; AttachDbFilename = H:\Semester5\SWK5\Project\Ufo\Ufo.DAL.SqlServer\UfoTestDb.mdf; Integrated Security = True" />
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>