*, *:before, *:after {
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

html {
  font-size: 16px;
  font-family: 'Arial', sans-serif;
  color: #000;
}

h1, h2, h3, h4 {
  font-family: 'Acme', sans-serif;
  font-weight: bold;
  color: #A8F82D;
}

h1 {
  font-size: 1.7rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.3rem;
}

a {
  color: white;
  text-decoration: none;
}
/*
a:visited {
  color: lightgreen;
}
*/
a:visited,
a:hover,
a:focus {
  text-decoration: none;
}

